{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    font-family:Segoe UI, sans-serif;
}

/* фон */

body::before{
    content:"";
    position:absolute;
    inset:0;

    background:
    radial-gradient(circle at center,
    rgba(255,0,0,.15),
    transparent 70%);

    z-index:-2;
}

/* ромбы */

body::after{
    content:"";
    position:absolute;
    inset:0;
    opacity:.4;

    background:
    linear-gradient(45deg,
    transparent 48%,
    rgba(255,0,0,.25) 50%,
    transparent 52%);

    background-size:120px 120px;

    z-index:-1;
}

/* карточка */

.card{
    display:none;

    width:800px;
    max-width:90%;

    padding:70px 50px;

    text-align:center;

    background:rgba(0,0,0,.75);

    border-radius:30px;

    backdrop-filter:blur(5px);
}

.active{
    display:block;
}

/* заголовок */

h1{
    font-size:70px;
    font-weight:300;
    color:white;
    margin-bottom:10px;
}

h1 span{
    display:block;

    color:#ff4040;

    text-shadow:
    0 0 10px #ff4040,
    0 0 20px #ff4040,
    0 0 40px #ff4040,
    0 0 80px #ff4040;
}

/* текст */

p{
    color:white;
    font-size:28px;
    margin:35px 0;
}

/* кнопка */

.heart-btn{
    width:320px;
    height:100px;

    border-radius:60px;

    border:3px solid #ff4040;

    background:transparent;

    color:#ff6a6a;

    font-size:55px;

    cursor:pointer;

    box-shadow:
    0 0 10px #ff4040,
    0 0 30px #ff4040;

    transition:.3s;
}

.heart-btn:hover{
    transform:scale(1.08);

    box-shadow:
    0 0 20px #ff4040,
    0 0 50px #ff4040,
    0 0 80px #ff4040;
}

h2{
    color:#ff4040;

    font-size:55px;

    text-shadow:
    0 0 15px #ff4040,
    0 0 40px #ff4040;
}

.final{
    color:#ff4040;
}

.progress{
    margin-top:25px;
    width:100%;
    height:12px;
    background:#111;
    border-radius:20px;
    overflow:hidden;
}

.bar{
    height:100%;
    width:0;

    background:#ff4040;

    box-shadow:0 0 20px #ff4040;

    animation:load 4s linear forwards;
}

@keyframes load{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}
